body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #F6F6F6;
  margin: 0;
}

h1 {
  width: 275px;
  height: 68px;
  font-size: 1.5rem;
  margin: 39px auto 0;
  text-align: center;
}

.soustitre {
  width: 315px;
  margin: 0 auto;
  height: 46px;
  font-size: 1.125rem;
  font-weight: 300;
  display: flex;
  text-align: center;
  color: #353535;
}
