@charset "UTF-8";
* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: auto;
  font-family: "Roboto", sans-serif;
  background-color: #F6F6F6;
  margin: 0;
}

h1 {
  width: 275px;
  height: 68px;
  font-size: 1.5rem;
  margin: 39px auto 0;
  text-align: center;
}

.soustitre {
  width: 315px;
  margin: 0 auto;
  height: 46px;
  font-size: 1.125rem;
  font-weight: 300;
  display: flex;
  text-align: center;
  color: #353535;
}

@media (min-width: 768px) {
  .bodyp1 {
    background-color: #FFFFFF;
  }
}
.header {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  padding-top: 14px;
  position: relative;
}
.header .logo-ohmyfood {
  width: 162px;
  height: 44px;
  font-size: 30px;
}

.location {
  font-family: "Roboto", sans-serif;
  height: 50px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.location .fa-map-marker-alt {
  margin-right: 17px;
}
.location .s2 {
  width: 109px;
  color: #000000;
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  white-space: nowrap;
}

@media (min-width: 768px) {
  h1 {
    white-space: nowrap;
    display: flex;
    justify-content: center;
  }
  .soustitre {
    white-space: nowrap;
    display: flex;
    justify-content: center;
  }
}
button {
  width: 218px;
  height: 50px;
  display: block;
  margin: 27px auto 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  border: none;
  font-size: 1rem;
  font-weight: 500;
}
button:hover {
  filter: brightness(1.25);
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.3764705882);
}

.btn-command {
  width: 186px;
  height: 50px;
  margin-top: 40px;
}

.back-arrow {
  font-size: 20px;
  color: #353535;
  position: absolute;
  left: 23px;
  top: 25px;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: opacity 300ms ease-out;
}

body.fade-body {
  animation: fadeOutUp 1s ease-out forwards;
  background: white;
  margin: 0;
  padding: 0;
}

.fade-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.validbar-checkbox {
  display: none;
}

.menu {
  margin: 57px 0 54px 0;
  background-color: #FFFFFF;
  padding: 48px 20px 68px 20px;
  display: flex;
  flex-direction: column;
  gap: 24.92px;
}
.menu .box-h2 {
  width: 322.49px;
  margin: 0;
}
.menu .btn-menu {
  width: 100%;
  height: 72.38px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  margin: 0;
  position: relative;
}
.menu .btn-menu a {
  height: 100%;
  font-size: 1rem;
  color: #000000;
  font-weight: 500;
  text-decoration: none;
}
.menu .btn-menu .fa-mobile-screen-button {
  font-size: 19px;
  margin: 24.54px 27px 0 33.47px;
  color: #7E7E7E;
}
.menu .btn-menu .step1 {
  position: absolute;
  top: 50%;
  left: -10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}
.menu .btn-menu .step2 {
  position: absolute;
  top: 50%;
  left: -10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}
.menu .btn-menu .step3 {
  position: absolute;
  top: 50%;
  left: -10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
}
.menu .btn-menu .fa-list-ul {
  font-size: 17px;
  margin: 27.91px 23px 0 34.49px;
  color: #7E7E7E;
}
.menu .btn-menu .fa-store {
  font-size: 18px;
  margin: 26.67px 20px 0 35.49px;
  color: #9356DC;
}

.title-restaurants {
  width: 345px;
  margin: 0;
}

.box-h2-2 {
  height: 100%;
  margin-left: 18px;
}

.Menup2 {
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  top: -32px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 32px 13px 0 13px;
  position: relative;
}

.Menup2 {
  width: 100%;
  height: 1075px;
  background-color: #F6F6F6;
  top: -32px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 32px 13px 0 13px;
  position: relative;
}
.Menup2 .h1-p2 {
  margin: 0;
  width: 100%;
  max-width: 290px;
  height: 27px;
  display: flex;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1;
}

@media (min-width: 768px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-content: center;
  }
  .box-h2 {
    grid-column: 1/-1;
    height: 31px;
  }
  .box-h2-2 {
    width: auto;
    height: 28px;
  }
  .btn-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-right: 8px;
  }
  .menu .btn-menu a {
    font-size: clamp(0.8rem, 0.56vw + 0.56rem, 1.5rem);
  }
  .fa-store,
  .fa-list-ul,
  .fa-mobile-screen-button {
    margin-right: 10px !important;
  }
  .Menup2 {
    width: 92% !important;
    margin-bottom: -32px !important;
  }
  .spacer {
    height: 40px;
    background-color: #F6F6F6;
    margin: 0 auto;
  }
}
.box-restau {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0 18px 66px 17px;
}
.box-restau .card-container {
  width: 100%;
  height: 251px;
  margin: 0;
  position: relative;
}
.box-restau .card-container .card {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  background: white;
}
.box-restau .card-container .card img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.box-restau .card-container .card .box-new {
  width: 80px;
  height: 29px;
  position: absolute;
  top: 13px;
  right: 20px;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  color: #008766;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-restau .heart-toggle {
  position: absolute;
  top: 197px;
  right: 40px;
  font-size: 22px;
  cursor: pointer;
  z-index: 10;
}
.box-restau .heart-toggle input {
  display: none;
}
.box-restau .heart-toggle .icon-regular,
.box-restau .heart-toggle .icon-solid {
  font-size: 22px;
  position: absolute;
  transition: opacity 1.9s;
}
.box-restau .heart-toggle .icon-regular {
  color: black;
}
.box-restau .heart-toggle .icon-solid {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.box-restau .heart-toggle input:checked ~ .icon-solid {
  opacity: 1;
}
.box-restau .heart-toggle input:checked ~ .icon-regular {
  opacity: 0;
}

.card-content {
  padding: 10px;
}
.card-content h3 {
  width: 267px;
  margin: 0 0 0 13px;
  font-size: 1.125rem;
  color: #000000;
  font-weight: 700;
}
.card-content p {
  width: 267px;
  margin: 5px 0 0 13px;
  font-size: 1.0625rem;
  color: white;
  font-weight: 300;
}
.card-content .s1 {
  color: #000000;
}

.card-containerP2 {
  width: 100%;
  height: 275px;
}
.card-containerP2 .card-imgp2 {
  height: 275px;
  width: 100%;
}

.container-menu2,
.container-menu3,
.container-menu {
  height: 270px;
  position: relative;
}
.container-menu2 .card-imgp2,
.container-menu3 .card-imgp2,
.container-menu .card-imgp2 {
  height: 275px;
  width: 100%;
}
.container-menu2 .box-enter,
.container-menu3 .box-enter,
.container-menu .box-enter {
  font-size: 1rem;
  font-weight: 300;
}
.container-menu2 .card-p2,
.container-menu3 .card-p2,
.container-menu .card-p2 {
  height: 69px;
  background-color: #FFFFFF;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15.04px;
  padding: 12px 0 12px 15px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: translateX(0);
  min-width: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title-menu {
  width: 100%;
  font-size: 1.125rem;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-l-menu {
  width: 100%;
  min-width: 0;
  margin: 0;
  font-size: 0.94rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description-price {
  height: 19px;
  margin: 0;
  margin-left: auto;
}
.description-price .price {
  margin: 0 13.5px 0 10px;
  font-weight: 700;
}

.box-enter::after {
  content: "";
  display: block;
  height: 3px;
  width: 11%;
  margin: 0;
  background-color: #99E2D0;
}

.menu-header {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.heart-toggle-menu {
  position: relative;
  width: 24px;
  height: 24px;
  font-size: 22px;
  cursor: pointer;
  display: inline-block;
}
.heart-toggle-menu input {
  display: none;
}
.heart-toggle-menu .icon-regular,
.heart-toggle-menu .icon-solid {
  font-size: 22px;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1.9s;
  width: 100%;
  height: 100%;
}
.heart-toggle-menu .icon-regular {
  color: black;
  opacity: 1;
}
.heart-toggle-menu .icon-solid {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.heart-toggle-menu input:checked ~ .icon-solid {
  opacity: 1;
}
.heart-toggle-menu input:checked ~ .icon-regular {
  opacity: 0;
}

.validation-bar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background-color: #4caf50;
  transition: width 0.4s ease;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.validbar-checkbox:checked + .card-p2 .validation-bar {
  width: 6px;
}

.card-wrapper {
  display: block;
  cursor: pointer;
}
.card-wrapper .card-toggle {
  display: none;
}
.card-wrapper .card-toggle:checked + .card-p2 .validation-box {
  width: 59px;
  opacity: 1;
  transform: translateX(0);
}

.validation-box {
  width: 0;
  height: 69px;
  background-color: #99E2D0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  opacity: 0;
  transform: translateX(0px);
  transition: all 0.9s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.validation-box .fa-circle-check {
  font-size: 20px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.texte-container {
  width: 287px;
  height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

@media (min-width: 768px) {
  .menu-header {
    display: flex;
    align-items: baseline;
    gap: 5px;
  }
  .box-restau {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 50px;
  }
  .card-container {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card-p2 {
    width: 100%;
  }
  .Menup2 {
    width: 100%;
    max-width: 1055px;
    margin: 0 auto;
  }
  .Menup2 .h1-p2 {
    margin: 0;
    justify-content: center;
    display: flex;
    text-align: center;
  }
  .card-imgp2 {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container-menu2,
  .container-menu3,
  .container-menu {
    width: 100%;
    max-width: 634px;
    margin: 0 auto;
  }
  .main-content {
    background-color: #FFFFFF;
  }
}
.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*anim container-menu*/
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.container-menu,
.container-menu2,
.container-menu3 {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
}

/* Délai*/
.container-menu {
  animation-delay: 0.5s;
}

.container-menu2 {
  animation-delay: 1s;
}

.container-menu3 {
  animation-delay: 1.5s;
}

.box-footer {
  width: 100%;
  height: 186px;
  background-color: #353535;
  padding: 22px 0 0 25px;
  margin: 0 auto 0 0;
}
.box-footer .titre-footer {
  width: 137.58px;
  font-size: 1.125rem;
  color: #FFFFFF;
  font-family: "Shrikhand";
  font-weight: 400;
  font-style: italic;
  margin: 0 0 16px 0;
}
.box-footer .text-footer {
  width: 190px;
  height: 99px;
  display: flex;
  flex-direction: column;
  color: #F6F6F6;
}
.box-footer .text-footer p {
  display: flex;
  align-items: center;
  margin: 0 0 7px 0;
  font-size: 1rem;
  font-weight: 500;
}
.box-footer .text-footer .fa-utensils {
  font-size: 13px;
  margin-right: 11px;
}
.box-footer .text-footer .fa-handshake-angle {
  font-size: 10.8px;
  margin-right: 10.08px;
}

.box-footer .text-footer a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .titre-footer {
    width: 137px;
    height: 27px;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 !important;
  }
  .box-footer {
    width: 100%;
    height: 114px;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    white-space: nowrap;
    flex-wrap: wrap;
    padding: 64px 26px 30px 0;
  }
  .text-footer {
    width: 600px !important;
    height: 20px !important;
    display: flex;
    flex-direction: row !important;
    gap: 10px;
    font-size: 1rem;
  }
  .text-footer .box2 {
    margin-right: 30px !important;
  }
  .text-footer .box3,
  .text-footer .box4 {
    font-weight: 400 !important;
  }
}/*# sourceMappingURL=main.css.map */